/*
=================
	SECTIONS & DASHBOARD
=================
*/
html { background: #2b2b2b; }
footer { 
	background: #2b2b2b;
	color: #fff;
	padding: 20px 0;
	margin-top: 30px;
	width: 100%;
	text-align: center;
}
footer address { 
	margin: 15px 0; 
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-weight: lighter;
}
main>div.container { 
	background: #fff; 
	padding: 30px 15px;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0,0,0,.05);
	border: 1px solid #E0E3E4;
	border-top: 1px solid #eee;
}

.section {
	font-family: 'Montserrat';
	font-size: 42px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #222;
	margin: 15px 0 30px;
}
.team-info { 
	font-family: 'Montserrat';
	color: #333;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase; 
	text-align: center;
}
.img-score {
	height: 200px;
	margin-bottom: 20px;
}
.score {
	background: #eee;
    font-size: 60px;
    font-weight: bold;
    padding: 5px 20px;
    text-align: center;
    margin: 0 2.5px;
    display: inline-block;
    border-radius: 4px;
    margin-top: 70px;
}
.score-data {
	text-transform: uppercase;
	color: #555;
	margin: 15px 0;
}
.table-last-match {
	margin-top: 40px;
}
.table-last-match tbody td {
	font-size: 36px;
	font-family: 'Montserrat';
	text-align: center;
	color: #555;
}
.visual-circle {
	font-family: 'Montserrat';
	border: 1px solid #eee;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	font-size: 96px;
	line-height: 295px;
	text-align: center;
	opacity: 0.75;
	margin-top: 130px;
}
.data-category {
	display: block;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	position: relative;
}
.overlay {
	position: absolute;
	top: 755px;
	left: -120px;
}
.overlay p {
	text-transform: uppercase; 
	font-size: 12px;
}
.overlay p strong {
	font-family: 'Montserrat';
	font-size: 32px;
	color: #555;
}
/*
=================
	ESTATÃSTICAS
=================
*/
#aproveitamento {
	display: block;
    text-align: center;
    position: relative;
    top: -210px;
    font-family: 'Montserrat';
	font-size: 56px;
	margin-bottom: -40px;
}
.result-ball {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	margin: 0 2px !important;
}

.table-team-gols>tbody>tr>td {
	font-size: 36px;
	font-family: 'Montserrat';
	text-align: center;
	color: #555;
	padding: 12px 10px;
	vertical-align: middle;
	width: 33%;
}
.table-team-gols img {
	height: 60px;

}
/*
=================
	PROJETOS
=================
*/
.projeto-box {
	padding: 15px;
	height: 80px;
	border-radius: 6px;
	border-bottom: 0px solid transparent;
}
.projeto-box:hover { border-bottom: 5px solid rgba(0,0,0, 0.3); }
.projeto-box p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(0,0,0, 0.35);
}
.projeto-lista a, 
.projeto-lista a:hover, 
.projeto-lista a:focus, 
.projeto-lista a:visited, 
.projeto-lista a:active { text-decoration: none; }

#projetos .nav-tabs { background: #f7f7f7; }
#projetos .nav-tabs>li>a { 
	color: #777;
	width: 150px;
	text-align: center;
}
#projetos .nav-tabs>li.active>a { font-weight: bold;}

.equipe-circle {
	background: #666;
	text-align: center;
	display: inline-block;
	margin: 0 2px;
	line-height: 50px;
	font-size: 24px;
	height: 50px;
	width: 50px;
	border-radius: 50px;
	font-family: 'Montserrat';
	font-weight: lighter;
}
.equipe-circle:hover { background: #0eabbc; }
.equipe-box a,
.equipe-box a:hover,
.equipe-box a:focus,
.equipe-box a:active {
	text-decoration: none;
	color: #fff;
}
#projetos .about-me {
	padding: 20px 15px;
	border: 1px solid #ddd;
}
#projetos ul.sobre {
	list-style: none;
	margin-bottom: 0;
	padding: 0;
}
#projetos table.sobre { width: 50%; }
@media(max-width: 991px) {
	#projetos table.sobre { width: 75%; }
}
@media(max-width: 767px) {
	#projetos table.sobre { width: 100%; }
}
#projetos table.sobre td {	
	padding: 10px 10px 10px 15px; 
	font-size: 14px;
}
#projetos table.sobre td.alert { padding-left: 15px; }
/*
=================
	USER
=================
*/
.value {
	padding: 7px 15px 7px 0;
	margin-bottom: 5px;	
	color: #555;
}
div.value {
	background: #eee;
	padding-left: 15px;
	color: #333;
}
input.value, select.value, textarea.value  { 
	background: #eee;
	border: 0;
	padding: 7px 15px;
	color: #333;
	margin: 0;
	width: 100%;	
	border: 1px solid #ddd;
}
textarea.value {
	max-width: 100%;
	height: 300px;
}
input.value:focus, select.value:focus, textarea.value:focus {
	border: 1px solid #0eabbc;
	box-shadow: none;
	outline: 0;
	background: #fdfdfd;
}
input.value.alert-danger, select.value.alert-danger, textarea.value.alert-danger {
	background: #f2dede;
	color: #a94442;
	border-color: #ebccd1;
}
#perfil #trophy-box { 
	margin-top: 30px;
	border: 1px solid #ddd; 
}
#perfil #trophy-box .value { margin-bottom: 0; }
#perfil .trophies i { font-size: 28px; }
#perfil .trophies p { font-size: 20px; }
